.interests {
  background-color: #fdba74;
  color: #111;
  padding: 30px;
}
.interests h3 {
  font-size: 1.2rem;
  border-bottom: 3px solid #111;
  font-weight: 900;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.interests ul li {
  padding: 3px 0;
  list-style: none;
}