.interests {
  color: #111;
  padding-top: 20px;
}
.interests h3 {
  font-size: 1.2rem;
  border-bottom: 3px solid #111;
  font-weight: 900;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.interests ul li {
  padding: 3px 0;
  list-style: none;
}
.interestInput {
  width: 90%;
  height: 1.5rem;
  padding: 1px 5px;
}