.dp {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 15px;
}
.personalInfo {
  display: flex ;
  flex-direction: column;
  background-color: #666;
  align-items: center;
  padding-top: 20px;
}

.personalInfo p {
  text-align: center;
  background-color: #444;
  width: 100%;
  padding-top: 5px;
  color: #fffada;
}
.name {
  font-size: 1.8rem;
  font-weight: 700;
}
.title {
  padding-bottom: 5px;
}

.contactInfo {
  background-color: #666;
  padding: 10px 0;
}

.contactInfo p{
  padding: 5px 20px;
  color: #000;
  display: flex;
}
.contactInfo div {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.icons {
  width: 1rem;
  height: 1rem;

}