
.picContainer {
  width: 10rem;
  height: rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #646D9B;
  border-radius: 50%;

}
.personalInfo {
  display: flex ;
  flex-direction: column;
  align-items: center;
}
.personalInfo .name,
.personalInfo .title {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  color: #111;
}
.personalInfo p:last-child {
  padding-bottom: 10px;
}
.personalInfo .name {
  font-size: 1.8rem;
  font-weight: 700;
}
.title {
  padding-bottom: 5px;
}
.nameInput {
  width: 90% ;
  height: 1.5rem;
  font-size: 1rem;
  padding-left: 10px;
  border: none;
}
.titleInput {
  width: 90%;
  height: 1.5rem;
  font-size: .9rem;
  padding-left: 10px;
  border: none;
}
.nameInput:focus {
  border: none;
  
}
.contactInfo {
  padding-top: 20px;
}

.contactInfo div{
  padding:2px;
  color: #000;
  display: flex;
}
.contactInfo span {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.contactInfo h3 {
  padding: 5px 0;
  border-bottom: 3px solid #111;
  margin-bottom: 5px;
}
.icons {
  width: 1rem;
  height: 1rem;

}
.addressInput,
.mailInput,
.telInput {
  width: 90%;
  height: 1.5rem;
  border: none;
  padding: 1px 5px;
}

.addressInput:focus {
  border: none;
}