.dp {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 15px;
}
.personalInfo {
  display: flex ;
  flex-direction: column;
  background-color: #fdba74;
  align-items: center;
  padding-top: 20px;
}

.personalInfo .name,
.personalInfo .title {
  text-align: center;
  background-color: #fdba74;
  width: 100%;
  padding-top: 5px;
  color: #111;
}
.personalInfo p:last-child {
  padding-bottom: 10px;
}
.name {
  font-size: 1.8rem;
  font-weight: 700;
}
.title {
  padding-bottom: 5px;
}
.nameInput {
  width: 70% ;
  height: 1.5rem;
  font-size: 1rem;
  padding-left: 10px;
  border: none;
}
.titleInput {
  width: 70%;
  height: 1rem;
  font-size: .9rem;
  padding-left: 10px;
  border: none;
}
.nameInput:focus {
  border: none;
}
.contactInfo {
  background-color: #646D9B;
  padding: 30px;
}

.contactInfo p{
  padding: 5px 0;
  color: #000;
  display: flex;
}
.contactInfo span {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.contactInfo h3 {
  padding: 5px 0;
  border-bottom: 3px solid #111;
  margin-bottom: 5px;
}
.icons {
  width: 1rem;
  height: 1rem;

}