.references {
  padding-top: 20px;
}
.references h3 {
  font-size: 1.2rem;
  border-bottom: 3px solid #111;
  font-weight: 900;
  padding-bottom: 5px;
}
.referee {
  padding: 5px 0;
}
.referee div {
  padding: 2px 0;
}

.name {
  display: flex;
  font-size: 1rem;
  font-weight: 900;
}
.refOrg {
  font-size: .9rem;
  font-weight: 600;
}
.phone {
  display: flex;
  align-items: center;
  font-size: .9rem;
}
.mail {
  display: flex;
  align-items: center;
}
.referee div b {
  margin-right: 3px;
  font-weight: 700;
  font-size: .9rem;
}
.refTitleInput {
  height: 1.5rem;
  width: 2rem;
}
.refInput {
  height: 1.5rem;
  width: 90%;
  padding: 1px 5px;
}