.references {
  padding: 30px;
  background-color: #646D9B;
}
.references h3 {
  font-size: 1.2rem;
  border-bottom: 3px solid #111;
  font-weight: 900;
  padding-bottom: 5px;
}
.referee {
  margin-bottom: 10px;
  padding: 5px 0;
}
.referee p {
  padding: 2px 0;
}
.referee p:first-child {
  font-weight: 700;
}
.refName {
  display: flex;
  font-weight: 900;
}
.phone,
.email {
  display: flex;
}
.titleInput {
  width: 20%;
}
.phoneInput,
.emailInput,
.namesInput,
.orgInput {
  width: 90%;
}
