.icon {
  width: 1.5rem;
  margin-right: 10px;
}
.workExp {
  
}
.work {
  padding: 10px 0;
  border-bottom: 3px solid #333;
  display: flex ;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 20px;
}


.workCategory {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
}
.job {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  padding: 10px;
}
.title {
  font-weight: 900;
}
.org {
  font-weight: 900;
}
.date {
  display: flex;
}
.roles li {
  color: #111;
  list-style-type: circle;
  padding: 1px 0;
}
.roles span {
  font-weight: 600;
  padding: 10px 0;
}