.icon {
  width: 1.5rem;
  margin-right: 10px;
}
.work {
  padding-bottom: 10px;
  border-bottom: 3px solid #333;
  display: flex;
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 20px;
  justify-content: space-between;
}
#addWork {
  float: right;
}

.workCategory {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
}
.job {
  display: grid;
  grid-template: 1fr / 1fr 2fr;
  padding: 10px;
}
.title {
  font-weight: 900;
}
.org {
  font-weight: 900;
  display: flex;
  justify-content: space-between;
}
#deleteJob {
  width: 1.2rem;
  height: 1.2rem;
  background: url('../images/plus.png');
  background-size: cover;
  border: none;
  rotate: 45deg;
  border-radius: 50%;
  padding: 1px;
}
#deleteJob:hover {
  background-color: rgb(226, 84, 84);
}
.date {
  display: flex;
}
.roles li {
  color: #333;
  list-style-type: circle;
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
}
#deleteRole {
  border: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: inherit;
  background: url('../images/plus.png');
  background-size: contain;
  transform: rotate(45deg);
}
#deleteRole:hover {
  background-color: rgb(226, 84, 84);
  padding: 1px ;
}
.dutyTitle {
  font-weight: 600;
  padding: 10px 0;
}
.workInput {
  width: 70%;
  height: 1.5rem;
  padding: 1px 5px;
}
.roleInput {
  width: 90%;
  height: 1.5rem;
  padding: 1px 5px;
}
#addWork {
  text-align: center;
  font-weight: 700;
  color: #333;
  margin: 0 auto;
  height: 1.3rem;
  width: 5rem;
  border: none;
  border-radius: 3px;
}
.hideBtn {
  display: none;
}
.showBtn {
  display: block;
}
.duties {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  align-items: center;
}
.duties button {
  text-align: center;
  font-weight: 700;
  color: #333;
  margin: 0 auto;
  height: 1.3rem;
  width: 5rem;
  border: none;
  border-radius: 3px;
}

